@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

/* --- Global Styles --- */

body {
    color: white;
    font-family: "Inconsolata", serif;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-wrap: break-word;
    background: black;

}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}


/* --- Layout Sections --- */

.header, .body, .contact-container {
  padding: 2rem;
  z-index: 1;
  position: relative;
}

.header {
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: "Inconsolata", serif;
    margin-inline: auto;
    overflow: hidden;
    white-space: nowrap;

}


.body {
    max-width: 500px;
    margin: 0 auto;
    color: white;
    padding-bottom: 20px;
}


.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;    
}
.contact {
    width: 75%
}

.contact:hover{
    transform: scale(1.2)
}

/* --- Typography --- */

h2,p {
    font-family: "Inconsolata", serif;
    margin-inline: auto;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: normal;
}

/* --- Links --- */
a:link, a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.5s;
}
a:hover {
    color: rgb(110, 110, 110);
    background-color: transparent;
    text-decoration: none;
}