@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@87.5,300&display=swap');



body {
    color: white;
    font-family: "DM Serif Text", serif;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-wrap: break-word;

}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

}


.header {
    padding: 10px;
    font-size: 30px;
    border: none;
    display: flex;
    justify-content: center;
    position: relative;

    font-family: "Inconsolata", serif;
    margin-inline: auto;
    overflow: hidden;
    white-space: nowrap;

}


.body {
    max-width: 500px;
    margin: 0 auto;
    color: white;
    padding: 0 20px 20px 20px;


}


.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.contact {
    width: 75%
}

.contact:hover{
    transform: scale(1.2)
}

h2,p {
    font-family: "DM Serif Text", serif;
    margin-inline: auto;
    white-space: nowrap;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: normal;
}
