<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/py_proj.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.179.1/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.179.1/examples/jsm/"
      }
    }
    </script>
    <script src="{{ url_for('static', filename='js/py_proj.js') }}" defer></script>
</head>
<body>


    <div id="proj-header">Python Projects</div>

    <div class="main">
        <div class="tab">
            <button class="tablinks" onclick="openProj(event, 'spam-filter', 'Spam Filter')">Spam Filter</button>
            <button class="tablinks" onclick="openProj(event, 'tile-puzzle', 'Tile Puzzle')">Tile Puzzle</button>
            <button class="tablinks" onclick="openProj(event, 'grid-nav', 'Grid Navigation')">Grid Navigation</button> 
        </div>

        <div id="spam-filter" class="tabcontent">
           <div id="sf-header"> Enter text or file to classify </div>
            
           <div id="sf-container">
                <div class="sf-zone">
                    <textarea id="sf-input-text" type="text" placeholder="Enter a message here..." autocomplete="off"></textarea>
                    <p id="text-result" class="sf-result"></p>
                </div>
                
                <div class="sf-zone">
                    <div id="file-upload-zone">
                        <p>Drag & Drop here, or click to upload</p>
                        <img id="upload-image" src="{{ url_for('static', filename='upload-image.svg') }}">
                        <input id="sf-input-file" type="file" hidden>
                    </div>
                    <p id="file-result"></p>
                </div>
            </div>

            <p>Enter number of most indicative spam/ham words: </p>
            <input id="sf-input-num" type="number">
            <button class="sf-button" onclick="getIndicativeWords()">Get Words</button>
            <p id="spam-words"></p>
            <p id="ham-words"></p>
        </div>

        <div id="tile-puzzle" class="tabcontent">
            <div class="puzzle-container">
                <div class="controls">
                    <button class="tile-button" onclick="makeMove('up')">↑</button><br>
                    <button class="tile-button" onclick="makeMove('left')">←</button>
                    <button class="tile-button" onclick="makeMove('down')">↓</button>
                    <button class="tile-button" onclick="makeMove('right')">→</button>

                    <button onclick="solve_iddfs()">Solve with IDDFS</button>
                    <button onclick="solve_a_star()">Solve with A*</button>

                    <p>Set tile puzzle rows and columns (default: 3x3)</p>
                    <label for="tile-rows">Rows:</label>
                    <input id="tile-rows" type="number">
                    <label for="tile-rows">Columns:</label>
                    <input id="tile-cols" type="number">

                    <button id="create-board" onclick="setBoard()">Set Board</button>
                </div>
            <div class="board" id="board"></div>
            </div>
            <pre id="solution-box"></pre>
        </div>

        <div id="grid-nav" class="tabcontent">
            <h3>Temp2</h3>
            <p>Words words words.</p>
        </div>
    </div>
</body>
</html>